.header {
  width: 100%;
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  display: flex;
  justify-content: start;
}

.header__links-list {
  display: flex;
  gap: 21px;

  text-underline-offset: 4px;
  margin-bottom: 3px;
}

.header__links-list-item {
  margin-left: 12px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  margin-left: 0;
}
.header__link_active {
  list-style: none;
}

.header__link {
  font-size: 18px;
}

.header__logo {
  height: 105px;
  width: 148px;
  display: block;
}

.header__logo-image {
  height: 100%;
}

.address {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  margin-right: 37px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 2;
  margin-top: 106px;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 51px;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
