.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: space-between;
  min-width: 1100px;
  padding: 92px 50px 96px;
}

.header__menu {
min-width: 391.48px;
}

.header__links-list {
display: flex;
gap: 33px;
}

.header__links-list-item {
list-style-type: circle;
}

.header__links-list-item_no-bullit {
list-style: none;
}

.header__link {
line-height: 21px;
text-underline-offset: 3px;
}

.header__link_active {
text-decoration: none;
}

.header__logo {
  display: inline-block;
  text-decoration: none;
  width: 148px;
  height: 105px;
}

.header__logo-image {
height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  line-height: 24px;
   font-style: normal; 
  text-underline-offset: 4px;
  justify-self: start;
}

.header__address {
  justify-self: end;

}